<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="navbar">
        <img src="logo-nexux.png" alt="Integrity Nexus Logo" class="logo">
        <div class="title">Integrity Nexus</div>
        <div class="menu">
            <a href="home.html">HOME</a>
            <a href="news.html">News</a>


       
            <div class="dropdown">
                <span>Detect</span>
                <div class="dropdown-content">
                    <!-- <a href="text.html">Fake News Detection</a> -->
                    <a href="videos.html">AI-Generated Video Detection</a>
                    <a href="photos.html">AI-Generated Photo Detection</a>
                </div>
            </div>
            <a href="login.html">Login</a>
            <a href="register.html">REGISTER</a>
            <a href="contact.html">Contact Us</a>
        </div>
    </nav>
    <main>
        <section id="contact">
            <h2>Get in Touch</h2>
            <form>
                <div> 
                    <label for="name">Name:</label>
                </div>
                <div> 
                    <input type="text" class="input-box" id="name" name="name" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                </div>
                <div>
                    <input type="email" class="input-box" id="email" name="email" required>
                </div>
                <div>
                    <label for="message">Message:</label>
                 </div>
                <div>
                    <textarea id="message" name="message" required></textarea> 
                 </div>
                 <button type="submit">Send</button>
            </form>
        </section>
        </section>
    </main>
    <footer>
        <p>© 2024 Integrity_Nexus. All rights reserved.</p>
    </footer>
</body>
</html>
